<nav>
  <div class="site-title">
    <a href="/">
      <h1>Navigation</h1>
    </a>
    <p>A BitDegree Site</p>
  </div>
  <ul>
    <li></li><a href="/">Homepage</a>
    <li><a href="/randomJS">Random Quote page</a></li>
    <li><a href="/about">About page</a></li>
    <li><a href="/quotes/create">Add a Quote</a></li>
  </ul>
</nav>