<html lang="en">

<%- include('./partials/header.ejs') %>

  <body>
    <%- include('./partials/navbar.ejs') %>

      <h1>Add a new Quote:</h1>

      <div class="create-quote content">
        <label for="author">Quote author:</label>
        <input type="text" id="author" name="author" required />
        <label for="snippet">Quote synopsis:</label>
        <input type="text" id="snippet" name="snippet" required />
        <label for="body">Quote body:</label>
        <input type="text" id="body" name="body" required />
        <button>Submit</button>
        </form>
      </div>

      <%- include('./partials/footer.ejs') %>

        <!-- <script src="../backEnd.js"></script> -->
  </body>

</html>