<html lang="en">

<%- include('./partials/header.ejs') %>

<body>
<%- include('./partials/navbar.ejs') %>

  <h1>A great quote generator will go here soon...</h1>
  <button onclick="newQuote()">Click me for a quote!</button>
  <div id="quoteDisplayField"></div>

  <%- include('./partials/footer.ejs') %>

  <!-- <script src="../backEnd.js"></script> -->
</body>

</html>