<html lang="en">

<%- include('./partials/header.ejs') %>

  <body>
    <%- include('./partials/navbar.ejs') %>

      <div class="not-found content">The page does not exist!</div>

      <%- include('./partials/footer.ejs') %>

      <!-- <script src="../backEnd.js"></script> -->
  </body>

</html>