body {
  margin: 200px 350px;
  padding: 220px;
  font-family: "Lato", sans-serif;
  font-size: 20pt;
  font-weight: normal;
  background: #000851;
  background: radial-gradient(circle, #1cb5e0 0%, #000851 100%);
}

.main {
  margin: 100px auto;
  text-align: center;
}

#clickBtn,
#resetBtn {
  padding: 20px;
  background: transparent;
  text-shadow: 1px 1px 1px #202020;
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  border: 5px solid black;
  color: black;
}
